

$family-sans-serif: 
	BlinkMacSystemFont, 
	-apple-system, 
	"Segoe UI", 
	"Roboto", 
	"Oxygen", 
	"Ubuntu", 
	"Cantarell", 
	"Fira Sans", 
	"Droid Sans", 
	"Helvetica Neue", 
	"Helvetica", 
	Meiryo, 
	"Arial", 
	sans-serif 
	!default
;
@import '~bulma/bulma';

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts' !default;

@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

.flex
{
	display: flex;
}
